/* @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); */
* {
    font-size: 15px;
    margin: 0;
    padding: 0;
}

p,
h1,
h3 {
    color: #1e1d1d;
    font-family: "Poppins", sans-serif;
}

.box,
.box2 {
    height: 400px;
    width: 200px;
    background-color: #2d8e84;
}

#box {
    height: 600px;
    width: 300px;
    background-color: brown;
}

.box2 {
    background-color: blueviolet;
}

.box2 p,
.box2 h1 {
    color: white;
}

.heading+p {
    color: blue;
}

.heading2~p {
    color: chocolate;
}

.para {
    text-indent: 20px;
    text-shadow: 1px 1px 2px red;
}


button {
    margin: 10px 0px;
    padding: 9px;
    border: 0;
    color: #fff;
    background: #55b8de;
    cursor: pointer;
}

button:hover {
    background: #22aae0;
}

button:active {
    background: #0675a1;
    font-size: 17px;
}